# URL for the Laravel API Backend
VITE_API_URL=http://localhost:8000/api

# The name of the application
VITE_APP_NAME=GameHub

# Laravel Reverb connection keys
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
